html, body {
  height: 100%;
  font-size: 3.0em;
  margin: 0;
  padding: 0;
}

@keyframes fadeToBlack {
    from {background-color: white;}
    to {background-color: black;}
}

h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  font-family: 'Droid Sans Mono', monospace;
}

#root {
  height: 100%;
  width: 100%;
}

.timer-ended {
  color: white;
  background-color: black;
  animation-name: fadeToBlack;
  animation-duration: 1s;
}